/* src/components/Medicamentos.css */

.card {
  background-color: #FFFFFF;
  border: 1px solid #ADD8E6;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 200px;
  transition: transform 0.2s, box-shadow 0.2s, background-color 0.3s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  background-color: #f8f9fa;
}

.card-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-bottom: 1px solid #dee2e6;
  transition: filter 0.3s;
}

.card-image:hover {
  filter: brightness(0.9);
}

.card-no-image {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0f0f0;
  border-bottom: 1px solid #dee2e6;
  color: #999;
}

.card-content {
  padding: 15px;
  text-align: center;
}

.card-content h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #6096a8;
}

.card-content p {
  font-size: 0.9em;
  color: #6c757d;
}

/* Responsividade */
@media (max-width: 768px) {
  .medicamentos-container {
      gap: 15px;
      padding: 15px;
  }
  
  .card {
      width: 45%;
  }
  
  .card-content h3 {
      font-size: 1em;
  }
  
  .card-content p {
      font-size: 0.85em;
  }
}

@media (max-width: 480px) {
  .medicamentos-container {
      gap: 10px;
      padding: 10px;
  }
  
  .card {
      width: 100%;
  }
  
  .card-content h3 {
      font-size: 0.9em;
  }
  
  .card-content p {
      font-size: 0.8em;
  }
}

/*Carrossel*/
.carousel-container {
  max-width: 800px; 
  margin: 0 auto; 
}

.slick-slide {
  padding: 0 10px; 
}

/*Barra de pesquisa*/
.search-bar-container {
  text-align: center;
  padding: 20px 0;
}

.search-bar-input {
  padding: 10px;
  width: 80%; 
  max-width: 400px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
