/* src/components/Navbar.css */
.navbar {
    width: 100px;
    background-color: #ADD8E6;
    color: white;
    padding: 20px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  .navbar h2 {
    margin-bottom: 20px;
  }
  
  .navbar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .navbar ul li {
    margin: 10px 0;
  }
  
  .navbar ul li a {
    color: white;
    text-decoration: none;
  }
  
  .navbar ul li a:hover {
    text-decoration: underline;
  }
  