
.principal-container {
  display: flex;
  align-items: center;
  font-family: 'Arial', sans-serif;
  padding: 20px;
}

body {
  font-family: Arial, sans-serif; /* Define a fonte padrão */
  margin: 0; /* Remove a margem padrão */
  padding: 0; /* Remove o padding padrão */
  height: 100vh; /* Define a altura da página para ocupar 100% da tela */
  display: flex; /* Define o display como flexbox */
  flex-direction: column; /* Organiza os filhos em uma coluna */
  align-items: center; /* Centraliza os filhos horizontalmente */
  justify-content: center; /* Centraliza os filhos verticalmente */
}
/* Conteúdo */
.content {
  flex-direction: column;
  margin-top: 20px;
  margin-right: 100px;
  gap: 20px;
}

/* Container Adicionar Paciente */
.containerAdicionarPac {
  font-family: Cloudb;
  align-items: center;
  width: 350px;
  color: #6096a8;
  height: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
  border: 1px solid #6096a8;
  border-radius: 30px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-top: 10px;
  margin-top: 30px;
  margin-right: 10px;
}

.containerscrollPacientes{
  max-height: 210px;
  overflow-y: auto;
  padding-top: 5px;
}


.containerSolicitacao{
  font-family: Cloudb;
  align-items: center;
  width: 350px;
  color: #6096a8;
  height: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
  border: 1px solid #6096a8;
  border-radius: 30px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-top: 10px;
  margin-right: 5px;
  margin-top: 30px;
}

.data {
  display: flex;
  align-items: center;
  font-family: CloudB;
  border-radius: 30px;
  height: 25px;
  padding: 10px 20px;
  background-color: #7380b7;
  color: white;
  border: 1px solid white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 18px;
}

.imgData {
  width: 25px;
  height: 25px;
  margin-right: 8px;
  margin-bottom: 3px;
}

.imgNotific {
  width: 25px;
  height: 25px;
  margin-bottom: 6%;
  margin-left: 10px;
}

.textData {
  margin-top: 20px;
  font-size: 17px;
}

table {
  width: 100%;
  height: 100%;
  margin-top: 3%;
  margin-left: 8%;
}

.inputCod {
  width: 350px; /* Largura total dos inputs */
  height: 60px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); 
  margin-bottom: 30px;
  color: #6096a8;
  padding-right: 10px;
  padding-left: 10px; /* Padding interno dos inputs */
  font-size: 18px; /* Tamanho da fonte dos inputs */
  font-family: Cloudb;
  border-radius: 20px;
  border: 2px solid #6096a8; /* Borda dos inputs */
  margin-bottom: 15px; /* Espaço abaixo dos inputs */
  box-sizing: border-box; /* Inclui padding e borda na largura total */
}

.inputCod:focus {
  border-color: #007ca5;
  transition: 0.2s;
  outline: none; 
}

.TitleDash {
  font-family: CloudB;
  color: #6096a8;
  margin-top: 25px;
  margin-left: 0;
  font-size: 30px;
}

.ulSolicitacao {
  max-height: 130px;
  overflow-y: auto;
}

.fundoNotific {
  display: flex;
  align-items: center;
  border-radius: 50%; 
  width: 45px;
  height: 45px;
  background-color: #7380b7;
}

.descDash {
  font-family: Cloudb;
  height: 80px;
  font-size: 20px;
  border-radius: 20px;
  display: flex; /* Adicionado */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  text-align: center;
  border: 1px solid white;
  color: white;
  background: linear-gradient(to right, #6096a8, #7380b7);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Container Paciente */
.containerPac {
  font-family: Cloudb;
  align-items: center;
  margin-right: 15px;
  width: 94%;
  color: #6096a8;
  height: 340px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
  border: 1px solid #6096a8;
  border-radius: 30px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  margin-top: 10px;
  margin-bottom: 70px;
}

/* Container Perfil */
.containerPerfil {
  right: 0;
}

/* Informações do Paciente */
.pacienteInfo {
  display: flex;
  align-items: center;
}

/* Seções de adicionar paciente e solicitações */
.adicionar-paciente,
.solicitacoes,
.pacientes {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  width: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.3s;
}

/* Efeito de hover nas seções */
.adicionar-paciente:hover,
.solicitacoes:hover,
.pacientes:hover {
  transform: translateY(-5px);
}

/* Títulos das seções */
.adicionar-paciente h3,
.solicitacoes h3,
.pacientes h3 {
  margin-bottom: 15px;
  color: #333;
  font-size: 1.2em;
  border-bottom: 2px solid #007BFF;
  padding-bottom: 5px;
}

.textPacAdd {
  font-family: Cloudb;
  color: #6096a8;
  margin-left: 5px;
  margin-bottom: 10px;
  font-size: 30px;
  text-align: left;
}

/* Estilo do input */
.adicionar-paciente input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s;
}

/* Efeito de foco no input */
.adicionar-paciente input:focus {
  border-color: #007BFF;
  outline: none;
}

.buttonAddpac {
  padding: 10px 15px;
  width: 100%; 
  font-size: 18px;
  color: white; 
  background-color: #6096a8; 
  font-family: Cloudb;
  border: 2px solid white; 
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  align-self: center; 
  margin-top: 10px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.buttonAddpac:hover {
  background-color: #007ca5;
  border: 2px solid #FFFAF5;
  color: #FFFAF5; 
}

/* Estilo do botão */
.adicionar-paciente button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

/* Efeito de hover no botão */
.adicionar-paciente button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

/* Lista de solicitações */
.solicitacoes ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Itens da lista de solicitações */
.solicitacoes li {
  padding: 10px;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Último item da lista */
.solicitacoes li:last-child {
  border-bottom: none;
}

/* Card do paciente */

/* Efeito de hover no card */
.paciente-card:hover {
  transform: translateY(-5px);
}

/* Título do card */
.paciente-card h4 {
  margin-top: 0;
  color: #333;
}


a {
  text-decoration: none; /* Remove o sublinhado */
}


.secaoDireita {
  gap: 20px;
  display: flex;
  align-items: center;
}

.fundoNotific, .data {
  display: flex;
  align-items: center;
}

.imgNotific, .imgData {
  width: 25px;
  height: 25px;
}

.paciente-card {
  display: flex;
  align-items: center; 
  gap: 15px; 
  padding: 15px;
  height: 15%;
  width: 90%; 
  max-width: 730px;
  background: linear-gradient(to right, #B2DAE7, #D5E5EB);
  border-radius: 20px;
  border: 2px solid white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  margin-bottom: 10px;
}

.paciente-imagem {
  width: 60px;
  height: 60px;
  border: solid 2px #247894;
  border-radius: 50%;
}

.paciente-texto {
  display: flex;
  flex-direction: column;
  justify-content: center; 
}


.pacienteNome {
  margin: 0;
  color: #247894;
  font-size: 25px;
  font-weight: bold;
}


.pacienteCodigo {
  margin: 0;
  margin-top: 3px;
  color: #247894;
  font-size: 15px;
}

/* Link no card */
.paciente-card a {
  text-decoration: none; 
  color: inherit; 
  display: flex; 
  align-items: center; 
  gap: 15px; 
}
