/* PerfilPaciente.css */
.profiletudocontainer {
  margin-left: 50px;
  font-size: 15px;
  color: #333;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5%;
}

.imgprofileDoencas {
  width: 50px;
  height: 50px;
  margin-top: 3px;
  border: 1px solid #6096a8;
  border-radius: 15px;
}

.imgprofileRemedios {
  width: 50px;
  height: 50px;
  margin-top: 3px;
  border: 1px solid #60AD9C;
  border-radius: 20px;
}

.tituloDescPac {
  text-align: center;
  font-family: Cloudb;
  margin-left: 150px;
  margin-bottom: 0;
  justify-content: center;
  font-size: x-large;
  color: #6096a8;
}

.infoClinicaPac {
  font-family: CloudB;
  width: 25%;
  margin-left: 3%; 
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.uldoencasPac {
  align-items: center;
  width: 100%;
  height: auto;
  list-style-type: none; /* Removes the bullet points */
  padding-left: 0; /* Removes the default padding */
  margin-top: 0; /* Removes the default margin */
  overflow-y: auto;
  max-height: 300px;
}

.textDoencasprofile {
  color: #6096a8;
  font-size: 18px;
  margin-left: 10px;
}

.textRemediosprofile {
  color: #60AD9C;
  font-size: 18px;
  margin-left: 10px;
}

.h3PerfilPac {
  margin-top: 0;
  width: 120px;
  margin-right: 5%;
}

.ContainerMedPac {
  width: 450px; 
  height: 250px;
  display: flex;
  border-radius: 20px;
  flex-direction: column; /* Organiza as doenças em uma coluna */
  align-items: flex-start; /* Alinha o conteúdo à esquerda */
  margin-left: 180px;
  margin-bottom: 0;
}

.cardDoencaPac {
  width: 380px;
  height: 60px;
  display: flex;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid white;
  border-radius: 20px;
  background: linear-gradient(to bottom, #B2DAE7, #D5E5EB);
  flex-direction: row;
  margin-top: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 15px;
}

.ContainerRemPac {
  width: 450px; 
  height: 300px;
  display: flex;
  border-radius: 20px;
  flex-direction: column; /* Organiza as medicações em uma coluna */
  align-items: flex-start; /* Alinha o conteúdo à esquerda */
  margin-bottom: 190px; /* Espaçamento abaixo do contêiner */
  margin-top: 0;
  margin-left: 180px;
}

.cardRemedioPac {
  width: 380px;
  height: 60px;
  display: flex;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid white;
  border-radius: 20px;
  background: linear-gradient(to left , #D4EBE8, #B0E8DF);
  flex-direction: row;
  margin-top: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 15px;
}

.table-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.biografia-container {
  width: 430px;
  height: 400px;
  padding: 20px;
  border: 1px solid #6096a8;
  margin-top: 30px;
  border-radius: 10px;
  margin-right: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
