.profile-container {
    width: 100%; /* Largura do container */
    background-color: white; /* Cor de fundo branca */
    padding: 20px; /* Espaçamento interno */
    border: 1px solid #6096a8;
    border-radius: 30px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-top: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px auto; /* Centraliza o container na tela com espaçamento */
    display: flex; /* Define o display como flexbox */
    flex-direction: row; /* Alinha os filhos em coluna */
    align-items: center; /* Centraliza os filhos horizontalmente */
  }

  .profileNomecontainer{
    font-family: Cloudb;
    font-size: 20px;
    margin-top: 5%;
    margin-left: 5%;
    display: flex;
    color: #6096a8;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
  }

  .h3Perfil{
    margin: 0;
  }

  .profileInfocontainer{
    margin-left: 1%;
    font-size: 15px;
    color: #333;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15%;
  } 
  
  /* Estilização da foto do perfil */
  .profile-photo {
    width: 150px; /* Largura fixa para a foto */
    height: 150px; /* Altura fixa para a foto */
    display: block; /* Exibição em bloco */
    margin: 20px auto; /* Centraliza e adiciona espaçamento vertical */
    border-radius: 50%; /* Bordas arredondadas (círculo) */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ao redor da foto */
    border: 3px solid #ADD8E6; /* Borda ao redor da foto */
  }

  .imgPerfil{
    width: 180px; /* Ajuste o tamanho da foto conforme necessário */
    height: 180px; /* Ajuste o tamanho da foto conforme necessário */
    border-radius: 50%;
  }

  .profile-details-container{
    display: flex;
    flex-direction: row;
  }

  .profile-images{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Cloudb;
    width: 100%; /* Largura do container */
    background-color: white; /* Cor de fundo branca */
    padding: 20px; /* Espaçamento interno */
    border: 1px solid #6096a8;
    border-radius: 30px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-top: 10px;
    margin-left: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  /* Estilização dos detalhes do perfil */
  .profile-details {
    font-family: Cloudb;
    width: 20%; /* Largura do container */
    background-color: white; /* Cor de fundo branca */
    padding: 20px; /* Espaçamento interno */
    border: 1px solid #6096a8;
    border-radius: 30px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-top: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Estilização do texto dos detalhes do perfil */
  .profile-details p {
    margin: 10px 0; /* Espaçamento vertical */
    font-size: 16px; /* Tamanho da fonte */
    color: #333; /* Cor do texto */
  }
  
  /* Estilização do título do perfil */
  .profile-title {
    font-size: 24px; /* Tamanho da fonte */
    color: #6096a8; /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    margin-bottom: 20px; /* Espaçamento abaixo */
  }
  
  /* Estilização dos botões do perfil */
  .profile-container button {
    padding: 10px 15px; /* Padding dentro do botão */
    font-size: 16px; /* Tamanho da fonte do botão */
    color: white; /* Cor do texto do botão */
    background-color: #ADD8E6; /* Cor de fundo do botão */
    border: none; /* Remove a borda do botão */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Muda o cursor para pointer ao passar sobre o botão */
    width: 100%; /* Largura total do botão */
    max-width: 200px; /* Largura máxima do botão */
    margin-top: 20px; /* Espaçamento acima */
    align-self: center; /* Centraliza o botão */
  }
  
  /* Estiliza o botão ao passar o mouse por cima */
  .profile-container button:hover {
    background-color: #0056b3; /* Muda a cor de fundo do botão ao passar o mouse */
  }
  
  /* Estilização dos links do perfil */
  .profile-details a {
    color: #007BFF; /* Cor do link */
    text-decoration: none; /* Remove a decoração do link */
    margin-top: 15px; /* Espaçamento acima */
  }
  
  .profile-details a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
  }
  
  /* Estilização das mensagens de erro no perfil */
  .error-message {
    color: red; /* Cor da mensagem de erro */
    margin-top: 15px; /* Espaçamento acima */
    text-align: center; /* Centraliza a mensagem de erro */
  }

  .imgClinica{
    width: 100px;
    height: 100px;
  }
  
  /* Estilização do corpo para centralização */
  body {
    background-color: #FFFAF5; /* Cor de fundo da página */
    font-family: Arial, sans-serif; /* Define a fonte padrão */
    margin: 0; /* Remove a margem padrão */
    padding: 0; /* Remove o padding padrão */
    height: 100vh; /* Define a altura da página para ocupar 100% da tela */
    display: flex; /* Define o display como flexbox */
    flex-direction: column; /* Organiza os filhos em uma coluna */
    align-items: center; /* Centraliza os filhos horizontalmente */
    justify-content: center; /* Centraliza os filhos verticalmente */
  }
  
  /* Estilização do botão de edição */
.edit-profile-button {
  padding: 10px 15px;
  width: 100%; 
  font-size: 18px;
  color: white; 
  background-color: #6096a8; 
  font-family: Cloudb;
  border: 2px solid white; 
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  align-self: center; 
  margin-top: 10px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
  
  /* Estiliza o botão ao passar o mouse por cima */
  .edit-profile-button:hover {
    background-color: #0056b3;
  }