
.profiletudocontainer {
  margin-left: 50px;
  font-size: 15px;
  color: #333;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 3%;
}

.profile-containerPac {
  width: 1000px;
  max-width: 100vw; 
  height: 820px; 
  background-color: white; 
  border: 1px solid #6096a8;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: flex; 
  flex-direction: column; 
}


.imgprofileDoencas {
  width: 50px;
  height: 50px;
  margin-top: 3px;
  border: 1px solid #6096a8;
  border-radius: 15px;
}

.imgprofileRemedios {
  width: 50px;
  height: 50px;
  margin-top: 3px;
  border: 1px solid #60AD9C;
  border-radius: 20px;
}

.tituloDescPac {
  text-align: center;
  font-family: Cloudb;
  margin-left: 150px;
  margin-bottom: 10px;
  justify-content: center;
  font-size: x-large;
  color: #6096a8;
}

.popup {
  width: 300px;
  height: 130px;
  position: absolute;
  font-family: Cloudb;
  color: #247894;
  background-color: white;
  border: 1px solid #6096a8;
  border-radius: 20px;
  padding: 10px;
  padding-bottom: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  transition: 1.5s;
  transform: translateY(10px); /* Inicia levemente abaixo */
  pointer-events: none; /* Impede interações quando invisível */
}

.popupRemedios {
  width: 300px;
  height: 130px;
  position: absolute;
  font-family: Cloudb;
  color: #60AD9C;
  background-color: white;
  border: 1px solid #60AD9C;
  border-radius: 20px;
  padding: 10px;
  padding-bottom: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  transition: 1.5s;
  transform: translateY(10px); /* Inicia levemente abaixo */
  pointer-events: none; /* Impede interações quando invisível */
}



.infoClinicaPac {
  font-family: CloudB;
  width: 25%;
  height: auto;
  margin-left: 3%; 
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.uldoencasPac {
  align-items: center;
  width: 105%;
  text-align: center;
  height: 300px;
  list-style-type: none; /* Removes the bullet points */
  padding-left: 0; /* Removes the default padding */
  margin-top: 0; /* Removes the default margin */
  overflow-y: auto;
  max-height: 200px;
}

.textDoencasprofile {
  color: #6096a8;
  font-size: 18px;
  margin-left: 10px;
}

.textRemediosprofile {
  color: #60AD9C;
  font-size: 18px;
  margin-left: 10px;
}

.h3PerfilPac {
  margin-top: 0;
  width: 90px;
}

.ContainerMedPac {
  width: 450px; 
  height: 270px;
  display: flex;
  border-radius: 20px;
  flex-direction: column; /* Organiza as doenças em uma coluna */
  align-items: flex-start; /* Alinha o conteúdo à esquerda */
  margin-left: 180px;
  margin-bottom: 0;
}

.cardDoencaPac {
  width: 380px;
  height: 60px;
  display: flex;
  color: #6096a8;
  font-size: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid white;
  border-radius: 20px;
  background: linear-gradient(to bottom, #B2DAE7, #D5E5EB);
  flex-direction: row;
  margin-top: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 15px;
}

.ContainerRemPac {
  width: 450px; 
  height: 300px;
  display: flex;
  border-radius: 20px;
  flex-direction: column; /* Organiza as medicações em uma coluna */
  align-items: flex-start; /* Alinha o conteúdo à esquerda */
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 180px;
}

.cardRemedioPac {
  width: 380px;
  height: 60px;
  display: flex;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid white;
  border-radius: 20px;
  background: linear-gradient(to left , #D4EBE8, #B0E8DF);
  flex-direction: row;
  margin-top: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 15px;
}

.table-container {
  display: flex;
  height: 10px;
  justify-content: space-between;
  margin-top: 20px;
}

.biografia-container {
  width: 430px;
  text-align: center;
  height: 520px;
  font-family: CloudB;
  border-radius: 10px;
  margin-right: 50px;
}

.h3Bio{
  text-align: center;
  color: #6096a8;
  margin-bottom: 10px;
  font-size: x-large;
}

.textBio{
  color: #333;
}

.espaçoBio{
  height: 250px;
  width: 100%;
  border: 1px solid #6096a8;
  border-radius: 20px;
  margin-bottom: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
