@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header-wrapper {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  gap: 60px;
  width: 100%
}

.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #6096a8;
  transform-origin: left;
}

body {
  background-color: white; 
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #6096a8;
  transform-origin: right;
}

.inverted-in {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: #6096a8;
  transform-origin: right;
}

.inverted-out {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: #6096a8;
  transform-origin: left;
}


.App-link {
  color: #61dafb;
}

@font-face {
  font-family: Cloudb;
  src: url(components/cloudsoft_bold_700.otf);
}
.Cloudb{
  font-family: Cloudb;
}

@font-face {
  font-family: Cloudsoft_light;
  src: url(components/cloudsoft_light_300.otf);
}
.Cloudsoft_light{
  font-family: Cloudsoft_light;
}

@font-face {
  font-family: Peanut;
  src: url(components/Peanut\ Butter.ttf);
}
.Peanut{
  font-family: Peanut;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.icon {
  position: absolute;
  right: 20px;
  bottom: 43px;
  color: #6096a8; 
}

.iconPassword {
  position: absolute;
  right: 20px;
  bottom: 39px;
  color: #6096a8; 
  cursor: pointer;
}

.textEsqueciSenha{
  color: #6096a8;
  font-family: Cloudb;
  font-size: 20px;
}


.buttonLogin{
  padding: 10px 15px; 
  font-size: 18px;
  color: white; 
  background-color: #6096a8; 
  font-family: Cloudb;
  border: 2px solid white; 
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  align-self: center; 
  margin-top: 10px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.buttonLogin:hover{
  background-color: #007ca5;
  border: 2px solid #FFFAF5;
  color: #FFFAF5; 
}

form input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 30px;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
}

form button:hover {
  background-color: #007ca5;
}

form p {
  color: red;
  font-family: Cloudb;
  margin-bottom: 10px;
}
